{% extends "base.html" %}

{% block styles %}
    {{ super() }}  
    <link href="{{ url_for('static', filename='css/weather.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    
<div class="container justify-content-center text-center  mt-5 mb-4 weather-header">

    <div class="d-flex justify-content-center align-items-center">
        
        <img src="{{ url_for('static', filename='assets/img/weather_icon.png') }}" alt="Weather Icon"> 
        <h1 class="app-title mb-0">Weather App</h1>
        
    </div>

</div>


<div class="flex-grow-1">

    <div class="container px-4 px-lg-5 py-5">
        
        <div class="row gx-4 gy-4 justify-content-center"> 
            <div class="col-md-10"> 
                
                <div class="card weather-card-detail h-100">

                    <div class="card-body">
                        
                        <div class="row card-top-header-detail bg-{{ (city.id % 6) + 1 }}" style="position: relative;">
                            
                            <div class="row w-100 mb-5"> 
                                <div class="col-2 d-flex justify-content-start align-items-start ps-4">
                                    <a href="{{ url_for('show_weather') }}" class="text-white" style="text-decoration: none;" aria-label="Back to Dashboard">
                                        <i class="fas fa-arrow-left fa-lg"></i>
                                    </a>
                                </div>
                                
                                <div class="col-8 d-flex flex-column justify-content-center text-center">
                                     <h5 class="card-title mb-0">{{ city.name }}, {{ city.country }}</h5>
                                     <p class="card-text time-date small mb-1">{{ city.dt_formatted }}</p>
                                </div>
                                
                                <div class="col-2">
                                    
                                </div>
                            </div>
                        
                            <div class="row w-100 align-items-center justify-content-center px-5" >
                                
                                <div class="col-3 d-flex flex-column justify-content-center text-center">
                                    
                                    <div class="d-flex align-items-center justify-content-center"> 
                                        {% if city.icon %}
                                        <img src="https://openweathermap.org/img/wn/{{ city.icon }}@2x.png" alt="{{ city.description }}" class="me-2" style="width: 50px; height: 50px;">
                                        {% endif %}
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center ">
                                        <span class="weather-description" style="font-size: 1.1rem;">{{ city.description|title }}</span> 
                                    </div>

                                </div>
                                
                                <div class="col-3 d-flex flex-column justify-content-center text-center border-start border-white border-opacity-25">
                                    <p class="temp-main mb-0">{% if city.temp is not none %}{{ city.temp|round|int }}°c{% else %}N/A{% endif %}</p>
                                    {% if city.temp_min is not none %}
                                    <p class="temp-range small">Temp Min: {{ city.temp_min|round|int }}°C</p>
                                    {% endif %}
                                    {% if city.temp_max is not none %}
                                    <p class="temp-range small">Temp Max: {{ city.temp_max|round|int }}°C</p>
                                    {% endif %}
                                </div>
                            </div>

                            </div> 
                        
                        <div class="row weather-details-detail align-items-center justify-content-center">
                            <div class="col-3 d-flex flex-column justify-content-center text-left">
                                <div class="detail-item">
                                    <span>Pressure: {{ city.pressure }} hPa</span>
                                </div>
                                <div class="detail-item">
                                    <span>Humidity: {{ city.humidity }}%</span>
                                </div>
                                <div class="detail-item">
                                    <span>Visibility: {{ city.visibility }} km</span>
                                </div>
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-center text-center border-start border-white border-opacity-25"> 
                                <div class="wind-arrow"><i class="fas fa-location-arrow"></i></div>
                                <div class="detail-item">
                                        <span>Wind: {{ city.wind_speed }} m/s</span>
                                </div>
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-center text-center border-start border-white border-opacity-25"> 
                                <div class="detail-item">
                                    <i class="fas fa-arrow-up"></i> <span>Sunrise: {{ city.sunrise_formatted }}</span>
                                </div>
                                <div class="detail-item">
                                    <i class="fas fa-arrow-down"></i> <span>Sunset: {{ city.sunset_formatted }}</span>
                                </div>
                            </div>
                        </div>

                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
{% include "footer.html" %}
{% endblock %}